config DRIVER_GPIO
    bool "Enable GPIO driver"
    default y
    help
      Select this to enable GPIO driver support
config DRIVER_GPIO_API_TEST
    bool "Enable GPIO API test"
    default n
    depends on DRIVER_GPIO
    help
      Select this to enable GPIO API input validation testing