menu "security"

config DRIVER_EFUSE
    bool "Enable efuse driver"
    default y
    help
      Select this to enable efuse driver support

choice
    prompt "efuse driver select"
    depends on DRIVER_EFUSE

    config DRIVER_EFUSE_V1
        bool "efuse v1 driver"
    config DRIVER_EFUSE_V2
        bool "efuse v2 driver"
endchoice


config DRIVER_TRNG
    bool "Enable TRNG driver"
    default y
    help
      Select this to enable TRNG (True Random Number Generator) driver support

choice
    prompt "trng driver select"
    depends on DRIVER_TRNG

    config DRIVER_TRNG_DW
        bool "DesignWare TRNG driver"
    config DRIVER_TRNG_TH
        bool "TH TRNG driver"
endchoice

config DRIVER_TRNG_API_TEST
    bool "Enable TRNG API test"
    default n
    depends on DRIVER_TRNG
    help
        Select this to enable TRNG API test

config DRIVER_SM3
    bool "Enable SM3 driver"
    default y
    help
      Select this to enable SM3 hash calculation driver support

config DRIVER_SM2
    bool "Enable SM2 driver"
    default y
    help
      Select this to enable SM2 driver support
config USING_SM4
    bool "USING SM4"
    default y
    help
      Select this to enable SM4 driver support
endmenu
