config DRIVER_PVT
    bool "Enable PVT driver"
    default n
    help
      Select this to enable PVT (Process, Voltage, Temperature) driver support

choice
    prompt "pvt driver select"
    depends on DRIVER_PVT

    config DRIVER_HG_PVT
        bool "HG PVT driver"
    config DRIVER_TIANQIN_PVT
        bool "TianQin PVT driver"
endchoice
