menu "Components"


source "components/misc/Kconfig"

menu "CLI"
config ENABLE_CLI
    bool "Enable CLI"
    default y
    help
      Enable CLI (Command Line Interface) support

  choice
      prompt "Shell implementation"
      depends on ENABLE_CLI
      default ENABLE_DSHELL
      config ENABLE_DSHELL
          bool "Enable DSHELL"
          help
            Enable DSHELL shell implementation
      config ENABLE_CLI_CORE
          bool "Enable CLI Core"
          help
            Enable CLI Core shell implementation
  endchoice

  config MAX_USHELL_CMD_NUM
    depends on ENABLE_DSHELL
    int "Max ushell cmd num"
    default 1024
    help
      Set ushell cmd number
endmenu

menu "json"
config ENABLE_JSON
    bool "enable json api"
    default n
    help
        enable json api
source "components/core_json/Kconfig"
endmenu

menu "Flash Partition"
config ENABLE_PARTITION_TABLE
    bool "Enable partition table"
    default y
    select DRIVER_QFLASH
    help
        enable flash partition table

config PARTITION_TABLE_DUMP
    bool "Enable partition table dump api"
    default n
    select ENABLE_PARTITION_TABLE
    help
        enable flash partition table dump function
endmenu

menu "SBR"
config ENABLE_SBR_API
    bool "Enable SBR API"
    select ENABLE_VERIFICATION
    select ENABLE_PARTITION_TABLE
    default y
    help
        enable SBR

config DUMP_SBR
    bool "print sbr contents when drivers get it"
    depends on ENABLE_SBR_API
    default y
    help
        dump sbr info when driver get the sbr config

config SBR_IMG_IN_RAM
    bool "SBR image is in RAM"
    default y
    help
        enable this when sbr image is in RAM
endmenu

endmenu
