config DRIVER_SGPIO
    bool "Enable SGPIO driver"
    default y
    help
        Select this to enable SGPIO driver support

choice
    depends on DRIVER_SGPIO
    prompt "SGPIO driver select"
    config DRIVER_SGPIO_V1_1
        bool "SGPIO v1.1 driver"
        help
            SGPIO driver for TianQin
    config DRIVER_SGPIO_V2_0
        bool "SGPIO v2.0 driver"
        help
            SGPIO driver for SheShou
    config DRIVER_SGPIO_V1_0
        bool "SGPIO v1.0 driver"
        help
            SGPIO driver for TianHe/ShuangZi
endchoice

config DRIVER_SGPIO_API_TEST
    bool "Enable SGPIO API test"
    default n
    depends on DRIVER_SGPIO
    help
        Select this to enable SGPIO API test
