menu "Device Drivers"

source "drivers/brd_init/Kconfig"
source "drivers/timer/Kconfig"
source "drivers/uart/Kconfig"
source "drivers/soc_ctrl/Kconfig"
source "drivers/gpio/Kconfig"
source "drivers/wdt/Kconfig"
source "drivers/smbus/Kconfig"
source "drivers/sgpio/Kconfig"
source "drivers/pwm/Kconfig"
source "drivers/qspi/Kconfig"
source "drivers/efuse/Kconfig"
source "drivers/trng/Kconfig"
source "drivers/sm3/Kconfig"
source "drivers/sm2/Kconfig"
source "drivers/sm4/Kconfig"
source "drivers/pvt/Kconfig"
source "drivers/qspi_ctrl/Kconfig"
source "drivers/ocm_ecc/Kconfig"
source "drivers/tach/Kconfig"

endmenu
