CONFIG_ARCH_ARMV7_R5=y
# CONFIG_ARCH_ARMV8_A72 is not set

#
# bsp select
#
CONFIG_BSP_TIANHE=y

#
# tianhe bsp
#
CONFIG_BSP_NAME="tianhe"
# end of tianhe bsp

# CONFIG_PLATFORM_FPGA is not set
CONFIG_PLATFORM_EMU=y
# CONFIG_PLATFORM_ASIC is not set

#
# emu platform select
#
CONFIG_PLATFORM_EMU_PZ1=y
# CONFIG_PLATFORM_EMU_VEL is not set
# end of emu platform select
# end of bsp select

#
# Device Drivers
#
CONFIG_BRD_INIT=y
CONFIG_DRIVER_TIMER=y
CONFIG_DRIVER_UART=y
# CONFIG_DRIVER_SOC_CTRL is not set
CONFIG_DRIVER_GPIO=y
# CONFIG_DRIVER_GPIO_API_TEST is not set
CONFIG_DRIVER_WDT=y
CONFIG_DRIVER_SMBUS=y
CONFIG_DRIVER_SGPIO=y
# CONFIG_DRIVER_SGPIO_V1_1 is not set
# CONFIG_DRIVER_SGPIO_V2_0 is not set
CONFIG_DRIVER_SGPIO_V1_0=y
# CONFIG_DRIVER_SGPIO_API_TEST is not set
CONFIG_DRIVER_PWM=y
CONFIG_DRIVER_QFLASH=y
CONFIG_DRIVER_EFUSE=y
# CONFIG_DRIVER_EFUSE_V1 is not set
CONFIG_DRIVER_EFUSE_V2=y
CONFIG_DRIVER_TRNG=y
# CONFIG_DRIVER_TRNG_DW is not set
CONFIG_DRIVER_TRNG_TH=y
# CONFIG_DRIVER_TRNG_API_TEST is not set
CONFIG_DRIVER_SM3=y
CONFIG_DRIVER_SM2=y
CONFIG_DRIVER_SM4=y
# CONFIG_DRIVER_PVT is not set
# CONFIG_DRIVER_QSPI_CTRL is not set
CONFIG_DRIVER_OCM_ECC=y
CONFIG_DRIVER_TACH=y
# end of Device Drivers

#
# Components
#

#
# verification lib
#
CONFIG_ENABLE_VERIFICATION=y
# end of verification lib

#
# CLI
#
CONFIG_ENABLE_CLI=y
CONFIG_ENABLE_DSHELL=y
# CONFIG_ENABLE_CLI_CORE is not set
CONFIG_MAX_USHELL_CMD_NUM=1024
# end of CLI

#
# json
#
# CONFIG_ENABLE_JSON is not set

#
# coreJson from FreeRTOS
#
# end of coreJson from FreeRTOS
# end of json

#
# Flash Partition
#
CONFIG_ENABLE_PARTITION_TABLE=y
# CONFIG_PARTITION_TABLE_DUMP is not set
# end of Flash Partition

#
# SBR
#
CONFIG_ENABLE_SBR_API=y
CONFIG_DUMP_SBR=y
# CONFIG_SBR_IMG_IN_RAM is not set
# end of SBR
# end of Components

#
# Osp
#
CONFIG_ENABLE_OSP=y
# end of Osp
